@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text_primary_blue: var(--text_primary_blue);
  --color-text_primary_red: var(--text_primary_red);
}

:root {
  --background: #e8e8e8;
  --foreground: #3f3f47;
  --primary: #fffbff;
  --text_primary_blue: #3479f0;
  --text_primary_red: #e63584;
  --btn_bg: #e8e8e8;
  --container_bg: #e8e8e8;
  --table_hover_bg: #eeeeee;
  --btn_hover: black;
  --btn_activated: #e63584;
  --btn_shadow_l: #ffffff;
  --btn_shadow_r: #c5c5c5;
  --gray_300: #d1d5dc;
}
.dark {
  --background: #09090b;
  --foreground: #ffffff;
  --primary: #60a5fa;
}

.blend-dark {
  filter: invert(0.9) hue-rotate(360deg);
  img {
    transition: 1s;
    filter: invert(1) hue-rotate(360deg);
  }
}

/* element custom popover */
.el-popover {
  background: var(--btn_bg) !important;
  border: 1px solid var(--foreground) !important;
}
.el-popover .el-popper__arrow::before {
  background: var(--btn_bg) !important;
  border: 1px solid var(--foreground) !important;
}
